<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.jh_bd_rb_lebenslauf_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cv"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.BerufserfahrungActivity"
            android:label="@string/title_activity_berufserfahrung"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.BildActivity"
            android:label="@string/title_activity_bild"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.BildungActivity"
            android:label="@string/title_activity_bildung"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.SkillsActivity"
            android:label="@string/title_activity_skills"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.ZusammenfassungActivity"
            android:label="@string/title_activity_zusammenfassung"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.FinishActivity"
            android:label="@string/title_activity_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="ch.jh_bd_rb_lebenslauf_app.gui.PreferencesActivity"
            android:label="@string/title_activity_finish"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="ch.jh_bd_rb_lebenslauf_app.gui.ListPDFLebenslaufActivity"></activity>
        <activity android:name="ch.jh_bd_rb_lebenslauf_app.gui.ListPersonenActivity"></activity>
        <activity android:name="ch.jh_bd_rb_lebenslauf_app.gui.Berufserfahrung_beschreibungActivity"></activity>
    </application>

</manifest>